@model string

@{
    ViewBag.Title = "Admin";
    Layout = "_AdminLayout";
    var cate = (int)ViewBag.countCate;
    var product = (int)ViewBag.countProduct;
    var oder = (int)ViewBag.countOrder;
    var user = (int)ViewBag.countUser;
    var listOrder = (List<CartDetail>)ViewBag.listOrder;
}
    <div class="container-fluid">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">

                    </div><!-- /.col -->
                    <div class="col-sm-6">

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fab fa-audible"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Số thể loại</span>
                        <span class="info-box-number">
                            @cate
                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-laptop"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Số sản phẩm</span>
                        <span class="info-box-number">@product</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <!-- fix for small devices only -->
            <div class="clearfix hidden-md-up"></div>

            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-success elevation-1"><i class="fas fa-ambulance"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Số đơn hàng</span>
                        <span class="info-box-number">@oder</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Số người dùng</span>
                        <span class="info-box-number">@user</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>



        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">Biểu đồ thống kê doanh thu</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="card-body">
                <canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
            <!-- /.card-body -->
        </div>





        <div class="card">
            <div class="card-header border-transparent">
                <h3 class="card-title">Đơn hàng gần đây</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-0 table-hover" style="text-align:center;">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Sản phẩm</th>
                                <th>Người mua</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (var item in listOrder)
                                {
                                    <td>ORD @item.Id</td>
                                    <td>@item.Product.Name</td>
                                    <td>@item.User.FirstName @item.User.LastName</td>
                                    <td>@item.Amount</td>
                                    <td>$@(item.Amount*item.Product.Price)</td>
                                }
                            </tr>                            
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            
            <!-- /.card-footer -->
        </div>


    </div>