@model CartItemDto
@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
    var cart = (List<CartItemDto>)ViewBag.cart;
}



    <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(/page/images/bg/2.jpg) no-repeat scroll center center / cover ;">
        <div class="ht__bradcaump__wrap">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="bradcaump__inner text-center">
                            <h2 class="bradcaump-title">Cart</h2>
                            <nav class="bradcaump-inner">
                                <a class="breadcrumb-item" href="index.html">Home</a>
                                <span class="brd-separetor">/</span>
                                <span class="breadcrumb-item active">Cart</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="cart-main-area ptb--120 bg__white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Hình ảnh</th>
                                        <th class="product-name">Tên sản phẩm</th>
                                        <th class="product-price">Giá</th>
                                        <th class="product-quantity">Số lượng</th>
                                        <th class="product-subtotal">Thành tiền</th>
                                        <th class="product-remove">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in cart)
                                    {
                                        <tr>
                                            <td class="product-thumbnail"><a asp-route-id="@item.Product.Id" asp-controller="Home" asp-action="DetailProduct"><img src="~/img/@item.Product.Avatar" width="134" height="134" /></a></td>
                                            <td class="product-name"><a asp-route-id="@item.Product.Id" asp-controller="Home" asp-action="DetailProduct">@item.Product.Name</a></td>
                                            <td class="product-price"><span class="amount">$@item.Product.Price</span></td>
                                            <td class="product-quantity">
                                                
                                                <input asp-route-id="@item.Product.Id" asp-for="Amount"  value="@item.Amount"/>
                                                
                                            </td>
                                            <td class="product-subtotal">@(item.Amount * item.Product.Price)</td>
                                            <td class="product-remove">
                                                <a asp-route-id="@item.Product.Id" class="btn btn-warning" asp-action="update"><i class="fas fa-check"></i></a>
                                                <a asp-route-id="@item.Product.Id" asp-action="delete" class="btn btn-danger"><i class="fas fa-times"></i></a>

                                            </td>
                                        </tr>
                                    }
                                    

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-7 col-xs-12">
                                <div class="buttons-cart">
                                    
                                    <a asp-controller="home" asp-action="home">Continue Shopping</a>
                                </div>
                                
                            </div>
                            <div class="col-md-4 col-sm-5 col-xs-12">
                                <div class="cart_totals">                                   
                                    <table>
                                        <tbody>              
                                            <tr class="order-total">
                                                <th>Tổng thanh toán</th>
                                                <td>
                                                    <strong><span class="amount">$@cart.Sum(s => s.Amount * s.Product.Price)</span></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="wc-proceed-to-checkout">
                                        <a href="checkout.html">Proceed to Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>






 
                    
                




           