
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
    var cate = (List<Category>)ViewBag.MenuCate;
    var productNew = (List<ProductViewModel>)ViewBag.NewProduct;
}


<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(/page/images/bg/2.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Blog</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="index.html">Home</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb-item active">Blog</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start BLog Area -->
<section class="blog-details-wrap ptb--120 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div class="blog-details-left-sidebar">
                    <div class="blog-details-top">
                        <!--Start Blog Thumb -->
                        <div class="blog-details-thumb-wrap">
                            <div class="blog-details-thumb">
                                <img src="~/page/images/blog/big-images/mac.jpg" alt="blog images">
                            </div>
                            <div class="upcoming-date">
                                10<span class="upc-mth">Dec,2020</span>
                            </div>
                        </div>
                        <!--End Blog Thumb -->
                        <h2>It is a long established fact that a reader will</h2>
                        <div class="blog-admin-and-comment">
                            <p>BY : <a href="#">ADMIN</a></p>
                            
                            
                        </div>
                        <!-- Start Blog Pra -->
                        <div class="blog-details-pra">
                            <h2><b>Sự kiện ra mắt MacBook mới sẽ được tổ chức vào tháng 10 tới</b><br /></h2><br />
                            <p>
                                Nhiều tin đồn cho biết rằng Apple có thể ra mắt một số mẫu MacBook mới tại sự kiện ra mắt iPhone 11 vào đầu tháng 9 này. Nhưng điều đó đã không xảy ra. Trong khi Apple ra mắt iPhone, iPad và Apple Watch Series 5 thì MacBook Pro hoàn toàn không được nhắc đến.

                                Tuy nhiên, người dùng không nên quá lo lắng. Apple thường tổ chức một sự kiện đặc biệt riêng cho máy Mac vào giữa hoặc cuối tháng 10. Apple đã tổ chức một sự kiện Mac vào ngày 30 tháng 10 năm 2018, ngày 27 tháng 10 năm 2016 và ngày 16 tháng 10 năm 2014. Rõ ràng là họ không tổ chức các sự kiện này mỗi năm, nhưng xem xét số lượng tin đồn về MacBook Pro mới ra mắt vào năm 2019, chúng ta có thể mong đợi một sự kiện như vậy trong năm nay.

                                Một điểm đáng chú ý khác là ngay sau sự kiện ra mắt iPhone vừa qua, trang MacOS Catalina đã cập nhật rằng hệ điều hành mới sẽ ra mắt vào tháng 10 (trước đó đã đề cập đến ngày ra mắt là vào mùa thu). Đó có thể là một manh mối cho thấy rằng Apple sẽ tổ chức một sự kiện dành riêng cho MacBook Pro vào tháng 10, nơi họ có thể ra mắt cả hai model cũng như hệ điều hành mới.
                            </p>
                            <br />
                            <h2><b>Ra mắt MacBook 16 inch</b></h2><br />
                            <p>
                                Tất cả các tin đồn trong năm 2019 đều hướng đến việc Apple sẽ ra mắt MacBook Pro 16 inch với thiết kế mới được ra mắt vào mùa thu này. Mặc dù không có gì chắc chắn nhưng nhiều báo cáo chỉ ra rằng bàn phím của dòng máy này sẽ được thiết kế lại. Độ phân giải cũng được nâng lên 3.072 x 1.920 pixel. Viền mỏng hơn và bộ xử lý dòng H thế hệ thứ 9 của Intel.

                                Những thông số kỹ thuật kể trên sẽ khiến MacBook Pro 2019 trở thành một trong những máy tính xách tay mạnh mẽ nhất của Apple. Và chắc chắn máy cũng sẽ sở hữu nhiều ưu điểm về mặt thiết kế. Các máy tính xách tay đối thủ như Dell XPS 15 đã vượt mặt MacBook Pro trong thời gian gần đây và Apple cần phải làm điều gì đó đặc biệt để lấy lại ngôi vương. MacBook Pro 16 inch mới có thể là thiết bị được sinh ra để làm điều đó.
                            </p>

                            <h2><b>Bàn phím được thiết kế lại</b></h2><br />
                            <p>
                                Hai chiếc MacBook Pro mới ra mắt vào cuối mùa thu này có thể giải quyết được vấn đề tồn tại trên các thế hệ trước đó chính là bàn phím. Bàn phím cơ chế bướm gây tranh cãi và gây tranh cãi được giới thiệu lần đầu tiên vào năm 2016.

                                Kể từ đó, nó đã được sử dụng lại trên các phiên bản nâng cấp sau này mặc dù các vấn đề như kẹt bụi vẫn chưa được khắc phục. Và theo một báo cáo mới từ leaker uy tín Ming-Chi Kuo, Apple sẽ sử dụng một dạng bàn phím mới.


                            </p>

                        </div>
                        <!-- End Blog Pra -->
                        <!-- Start Blog Tags -->
                        
                        <!-- Start Blog Comment Area -->
                       
                        <!-- End Reply Form -->
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 smt-30 xmt-40">
                <div class="blod-details-right-sidebar">
                    
                    <!-- Start Category Area -->
                    <div class="our-category-area mt--60">
                        <h2 class="section-title-2">Thể loại</h2>
                        <ul class="categore-menu">
                            @foreach (var item in cate)
                            {
                                <li><a asp-controller="Home" asp-action="GetCateWithProducts" asp-route-id="@item.Id"><i class="zmdi zmdi-caret-right"></i>@item.Name</a></li>
                            }


                        </ul>
                    </div>
                    <!-- End Category Area -->
                    <!-- Start Letaest Blog Area -->
                    <div class="our-recent-post mt--60">
                        <h2 class="section-title-2">Sản phẩm mới</h2>
                        <div class="our-recent-post-wrap">
                            <!-- Start Single Post -->
                            @foreach (var item in productNew)
                            {
                                <div class="single-recent-post">
                                    <div class="recent-thumb">
                                        <a asp-route-id="@item.Id" asp-action="DetailProduct" asp-controller="Home"><img src="~/img/@item.Avatar" alt="post images" width="55" height="48"></a>
                                    </div>
                                    <div class="recent-details">
                                        <div class="recent-post-dtl">
                                            <h6><a href="#">@item.Name</a></h6>
                                        </div>
                                        <div class="recent-post-time">
                                            <p>@item.Price</p>
                                            
                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- End Single Post -->

                        </div>
                    </div>
                    <!-- End Letaest Blog Area -->
                    <!-- Start Tag -->
                    
                    <!-- End Tag -->
                </div>
            </div>
        </div>
    </div>
</section>
